<div class="objetivos" data-action="objetivos">
	<h2>Objetivos</h2>
    <section id="largo">
    	<ul>

    		<li><h3>largo</h3></li>
    		<li>Vivir fuera de Costa Rica</li>
    		<li>Tener mi propia empresa o<br>Ser CTO de alguna empresa</li>
    	</ul>
    </section>
    <section id="mediano">
    	<ul>
    		<li><h3>mediano</h3></li>
    		<li>ser ingeniero graduado con alguna maestria</li>
    		<li>haber empezado trámites para salir del país</li>
    	</ul>
    	&nbsp;
    </section>
    <section id="corto">
    	<ul>
    		<li><h3>corto</h3></li>
    		<li>no tener deudas</li>
    		<li>bajar por lo menos 10kg de grasa</li>
    	</ul>
    	&nbsp;
    </section>
</div>
